@page "/search"
@using JobNexus.Core.Models
@using JobNexus.Core.Search
@using JobNexus.Services
@inject NavigationManager NavManager
@inject SearchService SearchService
<PageTitle>Search</PageTitle>

<MudStack Spacing="4">
    <MudPaper>
        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Class="p-2">
            <MudTextField @bind-Value="_keywordText" Placeholder="Keywords" Variant="Variant.Outlined" Margin="Margin.Dense"/>
            <MudCheckBox @bind-Value="_usePostedAfter" Label="Posted after" Dense="true"/>
            <MudDatePicker @bind-Date="_postedAfter" Disabled="@(!_usePostedAfter)" Margin="Margin.Dense"/>
            <MudButton OnClick="@HandleSearch" Variant="Variant.Filled" Color="Color.Primary">Search</MudButton>
        </MudStack>
    </MudPaper>

    @if (!string.IsNullOrEmpty(_infoMessage))
    {
        <p>@_infoMessage</p>
    }

    @if (_jobListings != null && _jobListings.Count > 0)
    {
        <MudDataGrid T="Job" Items="@_jobListings" RowClick="@OnRowClick" Hover="true">
            <Columns>
                <PropertyColumn Property="x => x.Title"/>
                <PropertyColumn Property="x => x.Description"/>
                <PropertyColumn Property="x => x.ApplyUrl"/>
                <PropertyColumn Property="x => x.Pay"/>
                <PropertyColumn Property="x => x.DatePosted"/>
            </Columns>
        </MudDataGrid>
    }
</MudStack>

@code {
    private string? _infoMessage;
    
    private string _keywordText = "";
    private bool _usePostedAfter;
    private DateTime? _postedAfter = DateTime.Now;

    private List<Job>? _jobListings;

    private async Task HandleSearch()
    {
        _infoMessage = "";
        
        var query = new SearchQuery
        {
            Keywords = _keywordText.Split(' ').ToList()
        };
        if (_usePostedAfter)
            query.DatePostedAfter = _postedAfter;
        _jobListings = await SearchService.SearchAsync(query);
        
        if (_jobListings.Count == 0)
            _infoMessage = "No results matched your search terms.";
    }

    private void OnRowClick(DataGridRowClickEventArgs<Job> obj)
    {
        NavManager.NavigateTo($"/jobs/details?jobid={obj.Item.JobId}");
    }
}
