@page "/profiles/delete"
@attribute [Authorize]
@using Microsoft.EntityFrameworkCore
@using JobNexus.Core.Models
@using Microsoft.AspNetCore.Authorization
@inject IDbContextFactory<JobNexus.Data.JobNexusContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Profile</h2>
    <hr />
    @if (profile is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Username</dt>
            <dd class="col-sm-10">@profile.UserName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@profile.Email</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@profile.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Bio</dt>
            <dd class="col-sm-10">@profile.Bio</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm-10">@profile.Location</dd>
        </dl>
        <EditForm method="post" Model="profile" OnValidSubmit="DeleteProfile" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(profile is null)">Delete</button> |
            <a href="/profiles">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Profile? profile;

    [SupplyParameterFromQuery]
    private string Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        profile = await context.Profiles.FirstOrDefaultAsync(m => m.UserName == Username);

        if (profile is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteProfile()
    {
        using var context = DbFactory.CreateDbContext();
        context.Profiles.Remove(profile!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/profiles");
    }
}
